body{
  background-color: #a9514f;
}

h1 {
    font: 80px 'BazarMedium';
}

#temperature{
  padding-top: 60px;
  color:#443c31;
}

#thermostat-body {
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color:#443b34;
  border: 3px solid #7b723b;
  border-radius: 25px;
}

#display {
  width: 300px;
  height: 200px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #e0c99f;
  box-shadow: 1px 1px 0px #e0c99f;
  border-radius: 25px;
}

#notification{
  width: 10px;
  height: 10px;
  background: #5ea94f; /*a9794f orrange and 9c4547 for red*/
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.headding {
  text-align: center;
  color: #e0c99f;
  text-shadow: 3px 2px 0px #433a31, 5px 5px 0px #a9514f;
  letter-spacing: 10px;
  text-decoration: none;
}

.buttons {
  width:420px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.small-button {
  background-color: #443c31;
  border: 2px solid #b2a160;
  color: #b2a160;
  padding: 15px 28px;
  text-align: center;
  border-radius: 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.round-button {
  background-color: #443c31;
  border: 2px solid #b2a160;
  color: #b2a160;
  padding: 15px 28px;
  text-align: center;
  border-radius: 100px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

/*to do - move notification light, add background texture, emboss buttons, make number font cooler, make button click animations*/


